<div class="context-info">
    <p>
        <b>RPS</b> or <i>Retail Pocket Store</i> is an mobile application built for study purposes checking how a JavaScript full stack
        architecture would work. All system components on the client and server side were designed using 100% web standard technologies
        and the data is stored using a NoSQL database.
    </p>
    <p>
        <b>Technologies / frameworks: </b>AngularJS, Adobe Topcoat, NodeJS, MongoDB.
        <b>Platforms: </b> FirefoxOS, Heroku, Mongolab, AmazonWS.
    </p>
    <br>
    <p align="center">
        <button class="topcoat-button">about the author</button>
    </p>
</div>