<div class="full layout">

    <header class="item">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item center full">
                <h1 class="topcoat-navigation-bar__title">
                    <span class="bold-text" bindonce bo-text="storeName"></span>
                </h1>
            </div>
        </div>
    </header>

    <section class="item">
        <div data-ng-class="{'animate-slide': isLayoutAnimated}" ng-include="sandbox.tpl"></div>
    </section>


    <footer class="item">
        <div class="topcoat-tab-bar wide">

            <label class="topcoat-tab-bar__item" ng-repeat="ctx in contexts" ng-click="loadContext($index)">
                <input type="radio" name="tab-bar" ng-checked="(sandbox.key === ctx.key)">
                <button class="topcoat-tab-bar__button wide">
                    <span class="context-btn fa {{ ctx.icon }}"></span>
                </button>
            </label>
        </div>
    </footer>
</div>