<div class="full layout">

    <header class="item">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item center full">
                <h1 class="topcoat-navigation-bar__title"><span bindonce bo-text="storeName"></span></h1>
            </div>
        </div>
    </header>

    <section class="item">

        <div class="wide">
            Flexbox is awesome!
        </div>

    </section>


    <footer class="item">
        <div class="topcoat-tab-bar wide">
            <label class="topcoat-tab-bar__item">
                <input type="radio" name="tab-bar">
                <button class="topcoat-tab-bar__button wide">One</button>
            </label>
            <label class="topcoat-tab-bar__item">
                <input type="radio" name="tab-bar">
                <button class="topcoat-tab-bar__button wide">Two</button>
            </label>
            <label class="topcoat-tab-bar__item">
                <input type="radio" name="tab-bar">
                <button class="topcoat-tab-bar__button wide">Three</button>
            </label>
        </div>
    </footer>
</div>