<div class="full layout">

    <header class="item">
        <div class="topcoat-navigation-bar">

            <div class="topcoat-navigation-bar__item left quarter" style="font-size: 1.3em" ng-click="goBack()">
                <span class="topcoat-icon fa fa-angle-left"></span>
            </div>            
            <div class="topcoat-navigation-bar__item center half" >
                <h1 class="topcoat-navigation-bar__title">
                    <span class="bold-text" bindonce bo-text="label"></span>
                </h1>
            </div>
        </div>
    </header>

    <section class="item" gmap="{{label}}" data-lat="{{lat}}" data-lon="{{lon}}">
        <center ng-show="isLoading">
            <br><br><br>
            <div class="loadbar" ng-show="isLoading"></div>
        </center>
    </section>
</div>