<div class="full aligner limit-7">
    <div class="item">
        <span class="logo-sub green">[PocketStore]</span>
    </div>
    <div class="item spacer-2"></div>

    <form ng-submit="signIn()">
        <div class="item">
            <input ng-model="username" type="text" class="topcoat-text-input login-elm" placeholder="username" ng-disabled="isLoading" rps-blur>
        </div>
        <div class="item spacer"></div>

        <div class="item">
            <input ng-model="password" type="password" class="topcoat-text-input login-elm" placeholder="password" ng-disabled="isLoading" rps-blur>
        </div>
        <div class="item spacer"></div>

        <div class="item">
            <input type="submit" class="topcoat-button--cta login-elm" value="Sign in" ng-click="signIn()" ng-disabled="isLoading">
        </div>
    </form>
    <div class="item spacer-2"></div>
    <div class="item spacer" data-ng-hide="isLoading"></div>
    <div class="item" data-ng-show="isLoading">
       <div class="loadbar"></div>
    </div>    
</div> 