<div class="full">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Choose working store</h1>
        </div>
    </div>
    <div class="topcoat-list">
        <h3 class="topcoat-list__header">Stores assigned to <span bindonce bo-text="name"></span>:</h3>
        <ul class="topcoat-list__container" ng-show="(userStores.length !== 0)">
            <li class="topcoat-list__item" bindonce ng-repeat="store in userStores" ng-click="selectStore(store._id)">
                <span bo-text="store.name"></span>
            </li>
        </ul>
    </div>
</div>