.loadbar {
    height:10px;
    width: 120px;
    
    border-radius: 20px;
    
    background-image: -webkit-linear-gradient(-45deg, red 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, red 50%, red 75%, rgba(255, 154, 26, 0) 75%);
    background-image: -moz-linear-gradient(-45deg, red 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, red 50%, red 75%, rgba(255, 154, 26, 0) 75%);
    background-image: linear-gradient(-45deg, red 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, red 50%, red 75%, rgba(255, 154, 26, 0) 75%);

    background-color: #F6F7F2;
    background-size: 50px 50px;
    
    border: solid 1px #232323;
    
    -webkit-box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
    
    -webkit-animation: lbmove 2s linear infinite;
    -moz-animation: lbmove 2s linear infinite;
    animation: lbmove 2s linear infinite;
}


@-webkit-keyframes lbmove {
    0%   { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

@-moz-keyframes lbmove {
    0%   { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

@keyframes lbmove {
    0%   { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}